<header class="bg-gray-100 shadow text-secondaryCharcoal text-sm">
    <div class="px-4 py-3 flex justify-between items-center">
      <nav>
        <ul class="flex space-x-4 font-bold">
          <li class="hover:underline hover:text-primarySunset"over:underline hover:text-primarySunset">
            <%= link_to 'Tractors', root_path, class: 'hover:underline' %>
          </li class="hover:underline hover:text-primarySunset"over:underline hover:text-primarySunset">

          <li class="hover:underline hover:text-primarySunset">
            <%= link_to 'Implements', '#', class: 'hover:underline' %>
          </li class="hover:underline hover:text-primarySunset">

          <li class="hover:underline hover:text-primarySunset">
          <%= link_to 'Spare Parts', '#', class: 'hover:underline' %>
          </li class="hover:underline hover:text-primarySunset">

          <li class="hover:underline hover:text-primarySunset">
          <%= link_to 'Operators & Technicians', '#', class: 'hover:underline' %>
          </li class="hover:underline hover:text-primarySunset">
        </ul>
      </nav>
      <%= link_to root_path, class: "flex items-center" do %>
        <%= image_tag "logos/orange.png", class: "w-16" %>
      <% end %>
      <nav>
        <ul class="flex space-x-4 font-bold">
          <li class="relative">
            <input type="text" placeholder="Search" class="btn-outline bg-transparent text-sm">
            <i class="fa-solid fa-magnifying-glass text-gray-400 absolute right-4 top-4 transform -translate-y-1/2"></i>
          </li>
          </li class="">
            <%= link_to 'Sign In', new_user_session_path, method: :get, class: 'btn-primary text-sm' %>
          </li class="hover:underline hover:text-primarySunset">
        </ul>
      </nav>
    </div>
</header>